{{define "app_nav"}}
<!-- Shared top-nav cluster: app page links plus the app logo/home link. -->
<div class="page-nav-links">
  <a class="page-nav-link{{if eq .CurrentPage "drill"}} page-nav-link--current{{end}}" href="/drill">Drill</a>
  <a class="page-nav-link{{if eq .CurrentPage "activity"}} page-nav-link--current{{end}}" href="/activity">Activity</a>
  <a class="page-nav-link{{if eq .CurrentPage "stories"}} page-nav-link--current{{end}}" href="/stories">Stories</a>
  <a class="page-nav-link{{if eq .CurrentPage "lexicon"}} page-nav-link--current{{end}}" href="/lexicon">Lexicon</a>
  <a class="app-logo" href="/welcome">語</a>
</div>
{{end}}
